[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/payshares/libsodium.git
[submodule "lib/xdrpp"]
	path = lib/xdrpp
	url = https://github.com/payshares/xdrpp.git
[submodule "lib/libmedida"]
	path = lib/libmedida
	url = https://github.com/payshares/medida.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/payshares/cereal.git
